@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBold.woff2?v=3.12") format("woff2"),
       url("fonts/Inter-SemiBold.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter-Light.woff2?v=3.12") format("woff2"),
       url("fonts/Inter-Light.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "VGA";
  src: url("fonts/PxPlus_VGA_SquarePx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /*background-color: rgb(240,255,100);*/
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

a {
    text-decoration:none;
    color:#000;
}

a:hover {
  background: red;
  color: #000;
}

p {
  font-size: 1.2rem;
  line-height: 1.1;
  font-variant-numeric: slashed-zero;
  -moz-font-feature-settings: 'zero';
  -webkit-font-feature-settings: 'zero';
  font-feature-settings: 'zero' on;
}

p+p {
  text-indent: 5rem;
}

p+p+p {
  text-indent: 10rem;
}

p+p+p+p {
  text-indent: 15rem;
}

/* Grid */

.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.col {
  flex-basis: 25%;
  margin: 10px;
}

.col {
  flex-basis: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
}

@media(min-width: 768px) {

  .col {
    flex-basis: 25%;
    margin: 10px;
  }


}


/* Timestamp */

#clock {
}

.colon:before {
  content: ":";
}

/* Dot animation */

.dot {
  background-color: #000;
  height: 1em;
  width: .5em;
  display: block;
  /*margin-top: 5px;*/
}

.flash {
  color: #fff;
  -webkit-animation: flash steps(1) 1s infinite;
  animation: flash steps(1) 1s infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
