html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

/*
 Neue Haas Grotesk� W01 Text 75 Bold
*/
	@font-face{
	font-family:"NHaasGroteskTXW01-75Bd";
	src:url("fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix");
	src:url("fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix") format("eot"),url("fonts/d13fb250-6b64-4d97-85df-51fc6625a891.woff2") format("woff2"),url("fonts/60fa2ce6-c35e-4203-9bbf-25dd128daec5.woff") format("woff"),url("fonts/dda121ff-e230-440f-83fb-40aefbd6e09a.ttf") format("truetype"),url("fonts/c98782d3-8599-4314-b717-118a629a3aa4.svg#c98782d3-8599-4314-b717-118a629a3aa4") format("svg");
	}

@font-face {
  font-family: "VGA";
  src: url("fonts/PxPlus_VGA_SquarePx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: 'Inter', 'NHaasGroteskTXW01-75Bd', sans-serif;
    font-weight: normal;
    /*background-color: rgb(240,255,100);*/
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

a {
    text-decoration:none;
    color:#000;
}

p {
  font-size: 1rem;
  line-height: 1.1;
}

p+p {
  text-indent: 5rem;
}

p+p+p {
  text-indent: 10rem;
}

p+p+p+p {
  text-indent: 15rem;
}

a:hover {
    color: #fff;
}

/* Grid */

.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.col {
  flex-basis: 25%;
  margin: 10px;
}

.col {
  flex-basis: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
}

@media(min-width: 768px) {

  .col {
    flex-basis: 25%;
    margin: 10px;
  }


}
